version: 2.1
jobs:
  build:
    working_directory: ~/RG_BookStore-app
    docker:
      - image: circleci/ruby:2.7.1
        environment:
          BUNDLER_VERSION: 2.1.4
          PGHOST: localhost
          PGUSER: RG_BookStore-app
          RAILS_ENV: test
      - image: postgres:9.5
        environment:
          POSTGRES_USER: RG_BookStore-app
          POSTGRES_DB: RG_BookStore-app_test
          POSTGRES_PASSWORD: ""
    steps:
        - checkout
        - ruby/install-deps
      - run: bundle exec rake db:setup
      - run: bundle exec rake
